/* Add styles here */
body {
    background-color: rgb(231, 229, 229);
    align-content: center;
}

.header {
    text-align: center;
}

.rDisplay {
    text-align: center;
    font-size: large;
}

button {
    width: 90px;
}

.buttonFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
}